<% if signed_in? %>
    <div class="row">
      <aside class="span4">
        <section>
          <%= render 'shared/user_info' %>
        </section>
      </aside>


    </div>

    <div class="row">
      <div class="span4">
        <h3>Recipes</h3>
        <% for item in @recipes %>

            <li><%= link_to item.name, item %></li>
        <% end %>
        <br>
        <%= render 'shared/recipe_form' %>

      </div>

      <div class="span4">
        <h3>Shopping Lists</h3>
        <% for list in @shopping_lists %>

            <li><%= link_to list.name, list %></li>
        <% end %>
        <br>
        <%= render 'shared/shopping_list_form' %>
      </div>

      <div class="span4">
        <% if @user.ingredients.any? %>
            <h3>Inventory (<%= @user.ingredients.count %>)</h3>
            <ol>

              <% for ingredient in @ingredients %>
                  <li>

                    <p><%= image_tag(ingredient.picture, :size => "50x50") %></p>

                    <p><%= ingredient.name %>,
                      Amount: <%= @user.ingredient_users.find_by_ingredient_id(ingredient.id).amount %> <%= link_to 'Delete', ingredient_path(ingredient), :method => :delete, :class => 'btn btn-danger', :confirm => "Are you sure?" %> </p>
                  </li>


              <% end %>

            </ol>
        <% end %>


        <%= link_to "Add to Inventory", '/add_ingredient', :class => 'btn btn-primary' %>
      </div>

    </div>
<% else %>
    <div class="center hero-unit">
      <h1>Welcome to ReciMe</h1>

      <h2> This is a recipe/food inventory organizing app</h2>

      <%= link_to "Sign up now!", signup_path,
                  class: "btn btn-large btn-primary" %>
    </div>

<% end %> 