


<h1><%= @recipe.name %></h1>
<div class="span12">
<h3>Prep Time: </h3><p><%= @recipe.prep_time %></p>
<h3> Directions: </h3><p><%= @recipe.description%></p>



  <% if @ingredients %>
      <h3>Ingredients (<%= @recipe.ingredients.count %>)</h3>
      <ol>

        <% for ingredient in @ingredients %>
            <li>

              <p><%= image_tag(ingredient.picture, :size => "50x50") %></p>

              <p><%= ingredient.name %>,
                Amount: <%= @recipe.ingredient_recipes.find_by_ingredient_id(ingredient.id).amount %> <%= link_to 'Delete', ingredient_path(ingredient), :method => :delete, :class => 'btn btn-danger', :confirm => "Are you sure?" %> </p>
            </li>


        <% end %>

      </ol>
  <% end %>

<h1>Add Ingredient</h1>


<%= form_tag("/ingredients/create_ingredient_recipe", :method => "post") do %>
    <p>
      Name:
      <%= text_field_tag  :name %>
    </p>

    <p>
      Picture Link:
      <%= text_field_tag :picture %>
    </p>
    <p>
      Amount
      <%= text_field_tag :amount %>
    </p>
    <%= hidden_field_tag 'id', params[:id] %>
    <p>
      <%= submit_tag 'Create' %>
    </p>
<% end %>


