<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>


  <div class="span8">
    <% if @user.recipes.any? %>
        <h3>Recipes (<%= @user.recipes.count %>)</h3>
        <ol>
          <%= render @recipes %>
        </ol>
        <%= will_paginate @recipes %>
    <% end %>
  </div>

  <div class="span8">
    <% if @user.ingredients.any? %>
        <h3>Ingredients (<%= @user.ingredients.count %>)</h3>
        <ol>

          <% for ingredient in @ingredients %>
          <li>
            <span class="content"><%= ingredient.name %></span>
            <span class="content"><%= ingredient.picture %></span>

            <p>Amount : <%= @user.ingredient_users.find_by_ingredient_id(ingredient.id).amount %> </p>
            <p>Exp Date :  <%= @user.ingredient_users.find_by_ingredient_id(ingredient.id).exp_date %> </p>
             <span class="timestamp">
                Posted <%= time_ago_in_words(ingredient.created_at) %> ago.
            </span>

          </li>

          <% end %>

        </ol>
    <% end %>
  </div>
</div>