<%= form_for(@ingredient) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <h2>Add new Recipe</h2>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :picture %>
      <%= f.text_field :picture %>

      <%= f.label :amount%>
      <%= f.text_field :amount %>
    </div>
    <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>