
<h1>Add Ingredient</h1>


<%= form_tag("/users/create_ingredient_user", :method => "post") do %>
    <p>
      <%= label_tag :name %>
      <%= text_field_tag  :name %>
    </p>

    <p>
      <%= label_tag :amount %>
      <%= text_field_tag :amount %>
    </p>

    <p>
      <%= label_tag :date %> <small>Format is YYYY/MM/DD </small>

        <%= text_field_tag :date %>
    </p>
    <p>
      <%= submit_tag 'Create' %>
    </p>
<% end %>