<h1><%= @shopping_list.name %></h1>



<div class="span12">


  <% if @ingredients %>
      <h3>Ingredients (<%= @shopping_list.ingredients.count %>)</h3>
      <ol>

        <% for ingredient in @ingredients %>
            <li>

              <p><%= image_tag(ingredient.picture, :size => "50x50") %></p>

              <p><%= ingredient.name %>,
                Amount: <%= @shopping_list.ingredient_shopping_lists.find_by_ingredient_id(ingredient.id).amount %>  <%= link_to('Delete', ingredient_path(ingredient), :method => :delete, :class => 'btn btn-danger', :confirm => "Are you sure?")  %> </p>
            </li>


        <% end %>

      </ol>
  <% end %>

  <h1>Add Ingredient</h1>


  <%= form_tag("/ingredients/create_ingredient_shopping_list", :method => "post") do %>
      <p>
        Name:
        <%= text_field_tag  :name %>
      </p>


      <p>
        Amount
        <%= text_field_tag :amount %>
      </p>
      <%= hidden_field_tag 'id', params[:id] %>
      <p>
        <%= submit_tag 'Create' %>
      </p>
  <% end %>



